<h2>Code Analysis</h2>



<!--<button (click)="togglePage(componentOrder.SELECT_INPUT_MODE)" class="btn btn-sm btn-primary">SELECT_INPUT_MODE</button>-->
<!--&nbsp;-->
<!--<button (click)="togglePage(componentOrder.UPLOAD_INPUTS)" class="btn btn-sm btn-primary">UPLOAD_INPUTS</button>-->
<!--&nbsp;-->
<!--<button (click)="togglePage(componentOrder.CLONE_RESULTS)" class="btn btn-sm btn-primary">CLONE_RESULTS</button>-->
<!--&nbsp;-->
<!--<button (click)="togglePage(componentOrder.INPUT_FEEDBACK_DATA)" class="btn btn-sm btn-primary">INPUT_FEEDBACK_DATA</button>-->





<mat-button-toggle-group #group="matButtonToggleGroup">
  <mat-button-toggle (click)="togglePage(componentOrder.SELECT_INPUT_MODE)" value="left" aria-label="Text align left">
    SELECT_INPUT_MODE
  </mat-button-toggle>
  <mat-button-toggle  (click)="togglePage(componentOrder.UPLOAD_INPUTS)"  value="center" aria-label="Text align center">
    UPLOAD_INPUTS
  </mat-button-toggle>
  <mat-button-toggle (click)="togglePage(componentOrder.CLONE_RESULTS)"  value="right" aria-label="Text align right">
    CLONE_RESULTS
  </mat-button-toggle>
  <mat-button-toggle (click)="togglePage(componentOrder.INPUT_FEEDBACK_DATA)"  value="justify" aria-label="Text align justify">
    INPUT_FEEDBACK_DATA
  </mat-button-toggle>
</mat-button-toggle-group>


<app-select-input-mode *ngIf="pageView[componentOrder.SELECT_INPUT_MODE]"></app-select-input-mode>
<app-upload-inputs *ngIf="pageView[componentOrder.UPLOAD_INPUTS]"></app-upload-inputs>
<app-clone-results *ngIf="pageView[componentOrder.CLONE_RESULTS]"></app-clone-results>
<app-input-feedback-data *ngIf="pageView[componentOrder.INPUT_FEEDBACK_DATA]"></app-input-feedback-data>
