.jumbotron{
  background: white;
}

.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;    /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  /* reset the font property */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.example-ripple-container {
  cursor: pointer;
  text-align: center;

  width: available;
  height:fit-content;
  line-height: inherit;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;

}

.mat{
  padding: 0;
  height: fit-content;
  text-align: center;
  text-align-all: center;
  align-content: center;
  /*max-width: 400px;*/
}

.divider{
  height:10px;
}

.pad{
  padding: 20px;
}
