table {
  width: 100%;
}

.example-container {
  max-height: 550px;
  overflow: auto;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.divider{
  height: 10px
}

.valid-input{
  font-size: small;
  color: green;
}


.invalid-input{
  font-size: small;
  color: red;
}
