<!--<div>Input type: {{refInputType}}</div>-->
<div class="divider"></div>

<div *ngIf="refInputType==inputType.PROJECT">
  <p class="lead">Upload an input code snippet and a project from disk</p>
</div>


<div *ngIf="refInputType==inputType.SNIPPET">
  <div class="lead"><b>Upload two snippets:</b></div>

  <div class="lead small">The input snippet will be used to search through the reference snippet to determine
    if the input snippet is included anywhere in reference as a clone type 1, 2, 3, or 4
  </div>

  <div style="height: 10px"></div>

  <div class="container">
    <div class="row">
      <div class="col-sm">

        <p class="lead">Input code</p>
        <ngx-monaco-editor style="height: 300px" [options]="inputEditorOptions"
                           [(ngModel)]="codeInput.contents"></ngx-monaco-editor>

      </div>
      <div class="col-sm">

        <p class="lead">Reference code</p>
        <ngx-monaco-editor style="height: 300px" [options]="referenceEditorOptions"
                           [(ngModel)]="codeReference.contents"></ngx-monaco-editor>

      </div>
    </div>
  </div>

  <div class="divider"></div>

  <button type="submit" class="btn btn-dark" (click)="goToResults()">Get Results</button>


</div>

