mat-form-field {
  width: 100%;
  /*font-family: monospace;*/
}

.divider {
  height: 10px
}

.example-container {
  max-height: 281px;
  overflow: auto;
  width: inherit;
}

.mat-column-fileName {
  flex: 0 0 100%;
  width: 100%;
  min-width: 500px;
}


mat-icon {
  font-size: 20px;
  /*color: dimgray;*/
}

.upload-table {
  overflow: auto;
  max-height: 250px;
}


/*.mat-spinner {*/
/*  position: relative;*/
/*  margin-left: 50%;*/
/*  margin-right: 50%;*/
/*  transform: translateX(-50%);*/
/*  width: 24px;*/
/*  height: 24px;*/
/*}*/
.center2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay{
  height:100vh;
  width:100%;
  background-color: rgba(239, 239, 239, 0.48);
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
}

.style-error {
  background-color: indianred;
}


