
<body>
<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
  <div class="container">
    <a class="navbar-brand" href="#">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div style="height: 60px"></div>
<!-- Page Content -->
  <div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">



          <button (click)="deleteAll()" class="btn btn-danger">Delete Everything</button>
          &nbsp;
          <button (click)="addRandomDataPoint()" class="btn btn-outline-primary">Add random data</button>


        <table class="table">
          <thead>
          <tr>
            <th scope="col">Clone Type</th>
            <th scope="col">Rating</th>
            <th scope="col">Text Feedback</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of cloneFeedbackList">
            <td>{{data.getCloneType()}}</td>
            <td>{{data.getRating()}}</td>
            <td>{{data.getTextFeedback()}}</td>
            <td><button (click)="delete(data)" class="btn btn-sm btn-outline-primary">delete this</button></td>
          </tr>
          </tbody>
        </table>



          <a routerLink="/select-input-mode" class="btn btn-sm btn-primary">Select Input Mode Component</a>
        &nbsp;
        <a routerLink="/upload-inputs" class="btn btn-sm btn-primary" >Upload Inputs Component</a>

          <router-outlet></router-outlet>

      </div>
    </div>
  </div>

<div style="height: 10px"></div>



</body>

<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Created by: Anna Godin, Matt Kelly, Racquel Jones, and Daniel Cherdak
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


